body {
	background-color: #fff;
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.site {
	min-height: calc(100vh - 90px);
}

.language {
	margin: auto 0;
}

.language .select {
	padding:2px 5px;
	width: 90px;
	height: 30px;
	background: #292929;
	cursor: pointer;
	border-radius: 4px;
	color: #fff;
	border: 1px solid #fff;
	background-image: url('/static/images/select-arrow.png');
  background-position: 96% 50%;
  background-repeat: no-repeat;
	appearance: none;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for Safari */
	-webkit-appearance: none;
}

.language .select .ru {
	/*background-image: url("ru.jpg");*/
}

.download {
	width: 100%;
	height: 100%;
	background-color: #4184f8;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: flex-start;
	-webkit-align-items: center;
}

.error {
	width: 90%;
	min-height: 40px;
	color: #fff;
	font-size: 20px;
	padding-bottom: 15px;
	text-align: center;
}

footer {
	border: 0px;
	width: 100%;
	background-color: #292929;
	font-size: 18px;
	color: #fff;
	text-align: center;
	padding: 20px 0;
	height: 20px;
	margin-top: 30px;
}

.blockdown {
	width: 100%;
	border: 0px;
	margin-top: 30px;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: flex-start;
	-webkit-align-items: center;
}

.blockdown img {
	float:left;
	border: 0px;
	border-radius: 5px;
	margin-right: 10px;
	width: 300px;
	margin-bottom: 15px;
}

.blockdown p {
	margin: 10px;
}

.blockdown a {
	background-color: #4184f8;
	color: #fff;
	border-radius:3px;
	padding: 5px 35px;
	text-decoration: none;
}

.blockdown a:hover {
	background-color: #292929;
}

.wl_hide {
	display: none;
}

.wl_show {
	display: inline-block;
}

.ads1 {
	width:728px;
	height: 90px;
	margin: 20px 0;
}

.line a{
			text-decoration: none;
}

@media screen and (min-width: 910px) {
	header {
		border: 0px;
		width: 100%;
		background-color: #292929;
	}

	header h1{
		font-size: 32px;
		padding: 20px 0;
		margin: 0 0 0 0;
		color: #ffffff;
	}

	.textdown {
		margin-top:50px;
		text-align: center;
	}

	.textdown h1 {
		font-size: 42px;
		padding: 0;
		margin: 0;
		color: #fff;
	}

	.line {
		width: 900px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	.main {
		width: 900px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.input-form {
		color: #fff;
		font-size: 24px;
		border-radius: 2px;
		padding: 10px;
		margin: 30px 0 10px 0;
		display: flex;
		flex-direction: row;
	}

	.input-form .button {
		background: #292929;
		border-radius: 4px;
		font-size: 24px;
		height: 40px;
		color: #fff;
		border: 0px;
		padding: 0px 25px;
	}

	.input-form .button:hover {
		background: #000;
	}

	.input-form .link {
		margin: 0 10px 0 10px;
		border-radius: 4px;
		border: 0px;
		width: 400px;
		height: 40px;
		padding: 0px 10px;
		color: #808080;
		font-size: 18px;
	}

	.input-form .focus{
		border: 1px solid #292929;
	}

	.block1 {
		width: 99%;
		border: 1px solid #808080;
		margin-top: 30px;
		border-radius: 10px;
		font-size: 20px;
	}

	.block1 img {
		float:left;
		border-right: 1px solid #808080;
		border-radius: 10px 0 0 10px;
		margin-right: 10px;
		position: relative;
		z-index: 100;
		margin-top:-25px;
	}

	.block1 p {
		margin: 10px;
	}

	.block2 {
		width: 99%;
		border: 1px solid #808080;
		margin-top: 30px;
		border-radius: 10px;
		font-size: 20px;
	}

	.block2 img {
		float:right;
		border-left: 1px solid #808080;
		border-radius: 0 10px 10px 0;
		margin-left: 10px;
		margin-top:-25px;
	}

	.block2 p {
		margin: 10px;
	}

	.block3 {
		width: 99%;
		border: 1px solid #808080;
		margin-top: 30px;
		border-radius: 10px;
		font-size: 40px;
	}

	.block3 img {
		float:left;
		border-right: 1px solid #808080;
		border-radius: 10px 0 0 10px;
		margin-top:-25px;
	}

	.block3 p {
		margin: 10px;
		text-align: center;
	}

	.num {
		width: 25px;
		height: 25px;
		background-color: #292929;
		color: #fff;
		border-radius: 25px;
		padding: 25px 0 0 25px;
		margin-top: -25px;
		margin-left: -5px;
		font-size: 28px;
		position: relative;
		z-index: 1000;
		font-weight: 900;
	}

	.num p {
		position: relative;
		z-index: 10000;
		margin-top: -20px;
		margin-left: -6px;
		text-align: left;
	}

	.logo {
		background-image: url('/static/images/logo.png');
		background-position: 0% 40%;
		background-repeat: no-repeat;
		padding-left: 70px;
	}

	.logo a{
		text-decoration: none;
		color: #fff;
	}

	.blokhow {
		color: #292929;
		width: 100%;
		margin-top: 15px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	.blokhow .how {
		min-width: 46%;
		max-width: 46%;
	}

	.blokhow .how h3 {
		color: #292929;
	}
}

@media screen and (max-width: 910px) and (min-width: 750px) {
	header {
		border: 0px;
		width: 100%;
		background-color: #292929;
	}

	header h1{
		font-size: 32px;
		padding: 20px 0;
		margin: 0 0 0 0;
		color: #ffffff;
	}

	.textdown {
		margin-top:50px;
		text-align: center;
	}

	.textdown h1 {
		font-size: 42px;
		padding: 0;
		margin: 0;
		color: #fff;
	}

	.line {
		width: 750px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	.main {
		width: 750px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.input-form {
		color: #fff;
		font-size: 24px;
		padding: 10px;
		margin: 30px 0 10px 0;
		display: flex;
		flex-direction: row;
	}

	.input-form .button {
		background: #292929;
		border-radius: 4px;
		font-size: 24px;
		height: 40px;
		color: #fff;
		border: 0px;
		padding: 0px 25px;
	}

	.input-form .button:hover {
		background: #000;
	}

	.input-form .link {
		margin: 0 10px 0 10px;
		border-radius: 4px;
		border: 0px;
		width: 400px;
		height: 40px;
		padding: 0px 10px;
		color: #808080;
		font-size: 18px;
	}

	.input-form .focus{
		border: 1px solid #292929;
	}

	.block1 {
		width: 99%;
		border: 1px solid #808080;
		margin-top: 30px;
		border-radius: 10px;
		font-size: 20px;
	}

	.block1 img {
		float:left;
		border-right: 1px solid #808080;
		border-radius: 10px 0 0 10px;
		margin-right: 10px;
		position: relative;
		z-index: 100;
		margin-top:-25px;
	}

	.block1 p {
		margin: 10px;
	}

	.block2 {
		width: 99%;
		border: 1px solid #808080;
		margin-top: 30px;
		border-radius: 10px;
		font-size: 20px;
	}

	.block2 img {
		float:right;
		border-left: 1px solid #808080;
		border-radius: 0 10px 10px 0;
		margin-left: 10px;
		margin-top:-25px;
	}

	.block2 p {
		margin: 10px;
	}

	.block3 {
		width: 99%;
		border: 1px solid #808080;
		margin-top: 30px;
		border-radius: 10px;
		font-size: 40px;
		text-align: center;
	}

	.block3 img {
		float:left;
		border-right: 1px solid #808080;
		border-radius: 10px 0 0 10px;
		margin-top:-25px;
	}

	.block3 p {
		margin: 10px;
	}

	.num {
		width: 25px;
		height: 25px;
		background-color: #292929;
		color: #fff;
		border-radius: 25px;
		padding: 25px 0 0 25px;
		margin-top: -25px;
		margin-left: -5px;
		font-size: 28px;
		position: relative;
		z-index: 1000;
		font-weight: 900;
	}

	.num p {
		position: relative;
		z-index: 10000;
		margin-top: -20px;
		margin-left: -6px;
		text-align: left;
	}

	.logo {
		background-image: url('/static/images/logo.png');
		background-position: 0% 40%;
		background-repeat: no-repeat;
		padding-left: 70px;
	}

	.logo a{
		text-decoration: none;
		color: #fff;
	}

	.blokhow {
		color: #292929;
		width: 100%;
		margin-top: 15px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	.blokhow .how {
		min-width: 46%;
		max-width: 46%;
	}

	.blokhow .how h3 {
		color: #292929;
	}
}

@media screen and (max-width: 750px) {
	header {
		border: 0px;
		width: 100%;
		background-color: #292929;
	}

	header h1{
		font-size: 26px;
		padding: 20px 0;
		margin: 0 0 0 0;
		color: #ffffff;
	}

	.textdown {
		margin-top:50px;
		text-align: center;
	}

	.textdown h1 {
		font-size: 28px;
		padding: 0;
		margin: 0;
		color: #fff;
	}

	.line {
		width: 100%;
		margin: 0 auto;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		display: -webkit-flex;
		-webkit-flex-direction: column;
		-webkit-justify-content: flex-start;
		-webkit-align-items: center;
	}

	.main {
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		display: -webkit-flex;
		-webkit-flex-direction: column;
		-webkit-justify-content: flex-start;
		-webkit-align-items: center;
	}

	.ads1 img {
		/*width: 0px;
		height:0px;*/
	}

	.input-form {
		width: 100%;
		color: #fff;
		font-size: 24px;
		margin: 30px 0 10px 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		display: -webkit-flex;
		-webkit-flex-direction: column;
		-webkit-justify-content: flex-start;
		-webkit-align-items: center;
	}

	.input-form .button {
		background: #292929;
		border-radius: 4px;
		font-size: 24px;
		height: 40px;
		width: calc(90% + 10px);
		color: #fff;
		border: 0px;
		margin-top: 10px;
	}

	.input-form .button:hover {
		background: #000;
	}

	.input-form .link {
		border-radius: 4px;
		border: 0px;
		width: 90%;
		padding-left: 5px;
		padding-right: 5px;
		height: 40px;
		color: #808080;
		font-size: 18px;
		margin-top: 10px;
	}

	.input-form .focus{
		border: 1px solid #292929;
	}

	.block1 {
		width: 99%;
		margin-top: 30px;
		font-size: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		display: -webkit-flex;
		-webkit-flex-direction: column;
		-webkit-justify-content: flex-start;
		-webkit-align-items: center;
	}

	.block1 img {
		width: 100%;
		border: 1px solid #808080;
		border-radius: 10px;
		margin-top:-25px;
	}

	.block1 p {
		text-align: center;
		margin: 10px;
	}

	.block2 {
		width: 99%;
		margin-top: 30px;
		font-size: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		display: -webkit-flex;
		-webkit-flex-direction: column;
		-webkit-justify-content: flex-start;
		-webkit-align-items: center;
	}

	.block2 img {
		width: 100%;
		border: 1px solid #808080;
		border-radius: 10px;
		margin-top:-25px;
	}

	.block2 p {
		text-align: center;
		margin: 10px;
	}

	.block3 {
		width: 100%;
		width: 99%;
		margin-top: 30px;
		font-size: 40px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		display: -webkit-flex;
		-webkit-flex-direction: column;
		-webkit-justify-content: flex-start;
		-webkit-align-items: center;
	}

	.block3 img {
		width: 100%;
		border: 1px solid #808080;
		border-radius: 10px;
		margin-top:-25px;
	}

	.block3 p {
		text-align: center;
		margin: 10px;
	}

	.num {
		width: 25px;
		height: 25px;
		background-color: #292929;
		color: #fff;
		border-radius: 25px;
		padding: 25px 0 0 25px;
		margin-top: -25px;
		margin-left: -5px;
		font-size: 28px;
		position: relative;
		z-index: 1000;
		font-weight: 900;
	}

	.num p {
		position: relative;
		z-index: 10000;
		margin-top: -20px;
		margin-left: -15px;
	}

	.logo {
	}

	.logo a{
		text-decoration: none;
		color: #fff;
	}

	.blokhow {
		color: #292929;
		width: 100%;
		margin-top: 15px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		display: -webkit-flex;
		-webkit-flex-direction: column;
		-webkit-justify-content: flex-start;
		-webkit-align-items: center;
	}

	.blokhow .how {
		width: 99%;
	}

	.blokhow .how h3 {
		color: #292929;
	}
}
